<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Srno</th>
        <th scope="col">Category</th>
        <th scope="col">SubCategory</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let i of storedata;let j = index">
        <th scope="row">{{j+1}}</th>
        <td>{{i.category}}</td>
        <td>{{i.subCategory}}</td>
        <td>{{i.nameOfProduct}}</td>
        <td>{{i.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>