<div *ngIf="!show">
  <router-outlet></router-outlet>
</div>


<div class="container home" *ngIf="show">
  <div class="row">
    <div class="col-sm-12" id="header">
      <div class="col-sm-12">R Enterprises</div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12" id="main">
      <form [formGroup]="myFormGroup" (ngSubmit)="login(myFormGroup)" submitted=true enctype="multipart/form data" action="/" name="myform"
        id="myform" class="form-horizontal">

        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control input" placeholder="Username" formControlName="username" required />
          </div>
          <div [hidden]="myFormGroup.controls.username.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="password" class="form-control input" placeholder="Password" formControlName="password" required />
          </div>
          <div [hidden]="myFormGroup.controls.password.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary col-sm-12">
            <i class="material-icons">lock_open</i>
          </button>
          <button type="button" (click)="register()" class="btn btn-primary col-sm-12" disabled>
            <i class="material-icons">fiber_new</i>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>